@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-us {
  margin: 0 30px;
  margin-top: 70px;
}
.about-us__header {
  margin: 0;
}
.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-us__list-item {
  position: relative;
  margin-top: 83px;
  line-height: 20px;
  font-weight: 700;
}
.about-us__list-item--icon-1::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 8px;
  width: 32px;
  height: 38px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0px;
}
.about-us__list-item--icon-2::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;
  width: 47px;
  height: 28px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-us__list-item--icon-3::before {
  content: "";
  position: absolute;
  top: -48px;
  left: 8px;
  width: 34px;
  height: 28px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-us__list-item--icon-4::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 2px;
  width: 35px;
  height: 35px;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-us__list-item--icon-5::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -6px;
  width: 55px;
  height: 24px;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-us__list-item--icon-6::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 3px;
  width: 33px;
  height: 33px;
  background-image: url(../img/icon-6.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: 768px) {
  .about-us {
    margin: 0 50px;
    margin-top: 117px;
  }
  .about-us__header {
    font-size: 43px;
    line-height: 50px;
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__list-item {
    margin-top: 110px;
    width: 334px;
    font-size: 20px;
    line-height: 22px;
  }
  .about-us__list-item--icon-2 {
    order: 3;
  }
  .about-us__list-item--icon-3 {
    order: 5;
  }
  .about-us__list-item--icon-4 {
    order: 2;
  }
  .about-us__list-item--icon-5 {
    order: 4;
  }
  .about-us__list-item--icon-6 {
    order: 6;
  }
  .about-us__list-item--icon-1,
  .about-us__list-item--icon-4 {
    margin-top: 105px;
  }
}
@media (min-width: 1150px) {
  .about-us {
    margin: 55px 100px 90px 100px;
    padding: 0 175px;
  }
  .about-us__header {
    font-size: 53px;
    line-height: 57px;
  }
  .about-us__list-item {
    width: 350px;
  }
}
.basket-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.basket-form__label-size {
  box-sizing: border-box;
  padding: 16px 10px;
  width: 82px;
  line-height: 16px;
  font-weight: 700;
  border: 2px solid #ececec;
}
.basket-form__label-size:hover,
.basket-form__label-size:focus {
  border-color: #c7c7c7;
}
.basket-form__label-size:active {
  border-color: #62d1ba;
}
.basket-form__radio-size:checked + .basket-form__label-size {
  border-color: #62d1ba;
}
.basket-form__button {
  margin-top: 30px;
  padding: 11px 30px;
  width: 100%;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #63d1bb;
  border: none;
}
.basket-form__button:hover,
.basket-form__button:focus {
  background-color: #46c1ae;
}
.basket-form__button:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .basket-form__label-size {
    width: 112px;
  }
}
.button-mishka {
  box-sizing: border-box;
  padding: 14px;
  width: 260px;
  font: inherit;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
  background-color: #fff;
  border: 2px solid #444;
  cursor: pointer;
}
.button-mishka:hover,
.button-mishka:focus {
  color: #fff;
  background-color: #444;
}
.button-mishka:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog__items-list {
  margin: 0;
  padding: 0 30px;
  list-style: none;
}
.catalog__item {
  margin-top: 30px;
  border: 1px solid #ededed;
}
.catalog__item:hover,
.catalog__item:focus {
  box-shadow: 0 5px 5px 0 #ececec;
}
.catalog__item:active {
  box-shadow: 0 2px 5px 0 #ececec;
}
.catalog__link {
  color: #000;
}
.catalog__item-header {
  margin: 0;
  margin-top: 20px;
  margin-left: 28px;
  font-size: 17px;
  line-height: 24px;
}
.catalog__item-header:hover,
.catalog__item-header:focus {
  color: rgba(0, 0, 0, 0.6);
}
.catalog__item-header:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog__item-description {
  margin: 0;
  margin-left: 28px;
  font-size: 13px;
  line-height: 30px;
}
.catalog__order {
  display: flex;
  justify-content: space-between;
  margin: 0 28px;
  margin-top: 20px;
  padding-top: 24px;
  padding-bottom: 26px;
  border-top: 1px solid #ededed;
}
.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
.catalog__button-basket {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.catalog__button-basket:hover path,
.catalog__button-basket:focus path {
  fill: #63d1ba;
}
.catalog__button-basket:active path {
  fill: #63d1ba;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog {
    position: relative;
  }
  .catalog::before {
    content: "";
    position: absolute;
    top: -92px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  .catalog__items-list {
    padding: 0 50px;
    margin-top: 83px;
  }
  .catalog__item {
    position: relative;
    margin-top: 50px;
    padding-left: 334px;
  }
  .catalog__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    height: 334px;
  }
  .catalog__item-header {
    margin-top: 27px;
    font-size: 20px;
  }
  .catalog__item-description {
    margin-top: 5px;
  }
  .catalog__order {
    margin: 0 32px;
    margin-top: 173px;
  }
  .catalog__item:last-child .catalog__order {
    margin-top: 148px;
  }
}
@media (min-width: 1150px) {
  .catalog::before {
    top: -97px;
    background-size: cover;
  }
  .catalog__items-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
  }
  .catalog__item {
    padding-left: 0;
  }
  .catalog__item:not(:last-child) {
    margin-right: 48px;
  }
  .catalog__img {
    position: static;
    width: 316px;
    height: 462px;
  }
  .catalog__item-header {
    margin-top: 17px;
  }
  .catalog__item-description {
    font-size: 15px;
  }
  .catalog__order {
    margin: 0 28px;
    margin-top: 38px;
  }
  .catalog__item:last-child .catalog__order {
    margin-top: 10px;
  }
  .catalog__price {
    font-size: 17px;
  }
}
.comments {
  position: relative;
  margin: 0 30px;
  margin-top: 59px;
  padding-bottom: 50px;
}
.comments::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 30px;
  background-image: url(../img/line-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.comments__header {
  margin: 0;
  font-size: 25px;
}
.comments__item {
  margin: 0;
  margin-top: 23px;
}
.comments__text {
  margin: 0;
  font-size: 15px;
}
.comments__author-name {
  display: inline-block;
  margin-top: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.comments__author-link {
  font-style: normal;
  color: #000;
}
.comments__buttons {
  position: relative;
  margin-top: 30px;
  font-size: 0;
  border: 1px solid #ececec;
}
.comments__button {
  box-sizing: border-box;
  width: 129px;
  padding: 10px 35px;
  background-color: transparent;
  border-width: 0;
  border-color: transparent;
  cursor: pointer;
}
.comments__button:hover,
.comments__button:focus {
  opacity: 0.6;
}
.comments__button:active {
  opacity: 0.3;
}
.comments__button--write {
  display: inline-block;
  margin-top: 35px;
}
@media (max-width: 768px) {
  .comments__buttons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 54px;
    background-color: #ececec;
  }
}
@media (min-width: 768px) {
  .comments {
    margin: 0;
    margin-top: 85px;
    padding-bottom: 140px;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px auto;
  }
  .comments::after {
    bottom: -5px;
  }
  .comments__wrapper {
    position: relative;
    margin: 0 50px;
  }
  .comments__header {
    padding-top: 75px;
    padding-right: 334px;
    font-size: 43px;
    line-height: 50px;
  }
  .comments__text {
    margin-top: 50px;
    font-size: 17px;
  }
  .comments__author-name {
    margin-top: 58px;
    font-size: 18px;
  }
  .comments__author-link {
    display: block;
  }
  .comments__buttons {
    position: absolute;
    bottom: 0;
    right: 2px;
    border: none;
  }
  .comments__button {
    width: 83px;
    padding: 10px;
  }
  .comments__button--left {
    padding-right: 18px;
  }
  .comments__button--right {
    padding-left: 10px;
  }
  .comments__button--write {
    position: absolute;
    top: 80px;
    right: 0;
    margin: 0;
    width: 175px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .comments {
    background-image: url(../img/review@2x.jpg);
  }
}
@media (min-width: 1150px) {
  .comments {
    margin: 0 100px;
    padding-bottom: 90px;
  }
  .comments::after {
    bottom: 0;
  }
  .comments__wrapper {
    padding-left: 125px;
    padding-bottom: 100px;
  }
  .comments__header {
    padding-top: 70px;
    font-size: 53px;
    line-height: 57px;
  }
  .comments__text {
    padding-right: 80px;
  }
  .comments__author-name {
    margin-top: 10px;
  }
  .comments__buttons {
    bottom: 102px;
    right: -50px;
  }
  .comments__button--write {
    right: -50px;
  }
}
.contacts {
  margin-top: 37px;
}
.contacts__wrapper {
  padding: 0 30px;
}
.contacts__header {
  margin: 0;
  font-size: 18px;
}
.contacts__info {
  margin-top: 25px;
  font-size: 15px;
}
.contacts__email {
  margin: 0;
}
.contacts__email-text {
  padding-right: 25px;
}
.contacts__email-link {
  position: relative;
  color: #000;
}
.contacts__email-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}
.contacts__email-link:hover,
.contacts__email-link:focus {
  color: #46c1ae;
}
.contacts__email-link::after {
  background-color: #46c1ae;
}
.contacts__email-link:active {
  opacity: 0.3;
}
.contacts__address {
  margin: 0;
  margin-top: 30px;
  font-size: 15px;
}
.contacts__address-text {
  padding-right: 27px;
  vertical-align: top;
}
.contacts__address-info {
  display: inline-block;
  margin: 0;
  width: 140px;
  font-style: normal;
}
.contacts__map {
  margin-top: 35px;
}
.contacts__button {
  display: block;
  margin: 0 30px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .contacts {
    position: relative;
    margin: 0;
    margin-top: 52px;
    padding-bottom: 57px;
  }
  .contacts::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 53px;
    width: 47px;
    height: 82px;
    background-image: url(../img/flag.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .contacts__wrapper {
    padding: 0 50px;
  }
  .contacts__header {
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__info {
    margin-top: 49px;
    font-size: 17px;
  }
  .contacts__email {
    display: inline-block;
    width: 330px;
    vertical-align: top;
  }
  .contacts__address {
    display: inline-block;
    margin: 0;
    width: 330px;
    font-size: 17px;
  }
  .contacts__address-text {
    padding-right: 21px;
  }
  .contacts__address-info {
    width: 235px;
  }
  .contacts__map {
    margin-top: 55px;
    width: 768px;
    height: 457px;
  }
  .contacts__button {
    margin: 0 auto;
    margin-top: 45px;
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    margin-top: 65px;
    padding: 70px 50% 105px 125px;
  }
  .contacts::after {
    top: 60px;
    left: 165px;
  }
  .contacts__wrapper {
    margin: 0;
    margin-left: 100px;
  }
  .contacts__header {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__email {
    display: block;
  }
  .contacts__address {
    display: block;
    margin-top: 30px;
  }
  .contacts__map {
    position: absolute;
    top: -55px;
    right: 100px;
    width: 525px;
    height: 457px;
  }
  .contacts__button {
    margin: 0;
    margin-left: 150px;
    margin-top: 80px;
  }
}
.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 1250px;
    margin: 0 auto;
  }
}
.form-knitted__part {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  border: none;
}
.form-knitted__legend {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #63d1bb;
}
.form-knitted__type-list {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.form-knitted__type-item {
  position: relative;
  padding: 8px 10px 15px 63px;
}
.form-knitted__type {
  margin-top: 23px;
}
.form-knitted__radio-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: 1px solid #000;
  border-radius: 50%;
}
.form-knitted__radio-button:checked + .form-knitted__radio-label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-color: #63d1bb;
  border-radius: 50%;
}
.form-knitted__color {
  margin-top: 30px;
}
.form-knitted__color-list {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  list-style: none;
}
.form-knitted__color-item {
  position: relative;
  padding: 12px;
  padding-left: 63px;
  margin-bottom: 19px;
}
.form-knitted__checkbox-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid #444;
}
.form-knitted__checkbox-button:checked + .form-knitted__checkbox-label::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 9px;
  width: 25px;
  height: 25px;
  background-image: url(../img/tick-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.form-knitted__name {
  margin-top: 28px;
}
.form-knitted__name-list {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  list-style: none;
}
.form-knitted__name-item {
  margin-top: 20px;
}
.form-knitted__name-box {
  box-sizing: border-box;
  margin-top: 5px;
  padding: 15px 5px;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000;
}
.form-knitted__phone {
  position: relative;
  margin-top: 27px;
}
.form-knitted__phone-box {
  margin-top: 7px;
  padding: 15px 5px;
  padding-right: 40px;
  width: 215px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000;
}
.form-knitted__phone-image {
  position: absolute;
  top: 35px;
  right: 7px;
  opacity: 0.2;
}
.form-knitted__email {
  position: relative;
  margin-top: 31px;
}
.form-knitted__email-box {
  margin-top: 7px;
  padding: 15px 5px;
  padding-right: 40px;
  width: 215px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000;
}
.form-knitted__email-image {
  position: absolute;
  top: 35px;
  right: 7px;
  opacity: 0.2;
}
.form-knitted__additionally {
  margin-top: 33px;
}
.form-knitted__additionally-text {
  margin-top: 25px;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000;
}
.form-knitted__required-field-text {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.form-knitted__button-submit {
  margin-top: 30px;
}
.form-knitted__radio-label:hover::before,
.form-knitted__radio-label:focus::before,
.form-knitted__checkbox-label:hover::after,
.form-knitted__checkbox-label:focus::after,
.form-knitted__name-box:hover,
.form-knitted__name-box:focus,
.form-knitted__name-box:active,
.form-knitted__phone-box:hover,
.form-knitted__phone-box:focus,
.form-knitted__phone-box:active,
.form-knitted__email-box:hover,
.form-knitted__email-box:focus,
.form-knitted__email-box:active,
.form-knitted__additionally-text:hover,
.form-knitted__additionally-text:focus,
.form-knitted__additionally-text:active {
  border-color: #63d1ba;
}
.form-knitted__radio-label:active::before,
.form-knitted__checkbox-label:active::after {
  border-color: #c7c7c7;
}
.form-knitted__phone-box:hover + .form-knitted__phone-image,
.form-knitted__phone-box:focus + .form-knitted__phone-image,
.form-knitted__phone-box:active + .form-knitted__phone-image,
.form-knitted__email-box:hover + .form-knitted__email-image,
.form-knitted__email-box:focus + .form-knitted__email-image,
.form-knitted__email-box:active + .form-knitted__email-image {
  opacity: 1;
}
.form-knitted__phone-box:hover + .form-knitted__phone-image path,
.form-knitted__phone-box:focus + .form-knitted__phone-image path,
.form-knitted__phone-box:active + .form-knitted__phone-image path,
.form-knitted__email-box:hover + .form-knitted__email-image path,
.form-knitted__email-box:focus + .form-knitted__email-image path,
.form-knitted__email-box:active + .form-knitted__email-image path {
  fill: #63d1ba;
}
input.form-knitted__name-box::-webkit-input-placeholder,
input.form-knitted__phone-box::-webkit-input-placeholder,
input.form-knitted__email-box::-webkit-input-placeholder,
input.form-knitted__additionally-text::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
input.form-knitted__name-box::-moz-placeholder,
input.form-knitted__phone-box::-moz-placeholder,
input.form-knitted__email-box::-moz-placeholder,
input.form-knitted__additionally-text::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
input.form-knitted__name-box:-ms-input-placeholder,
input.form-knitted__phone-box:-ms-input-placeholder,
input.form-knitted__email-box:-ms-input-placeholder,
input.form-knitted__additionally-text:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
input.form-knitted__name-box::-ms-input-placeholder,
input.form-knitted__phone-box::-ms-input-placeholder,
input.form-knitted__email-box::-ms-input-placeholder,
input.form-knitted__additionally-text::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
input.form-knitted__name-box::placeholder,
input.form-knitted__phone-box::placeholder,
input.form-knitted__email-box::placeholder,
input.form-knitted__additionally-text::placeholder {
  color: rgba(68, 68, 68, 0.3);
}
@media (max-width: 768px) {
  .form-knitted__legend::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    width: 100px;
    height: 1px;
    margin-left: 20px;
    background-color: #63d1bb;
  }
}
@media (min-width: 768px) {
  .form-knitted__part {
    display: flex;
    padding: 0 50px;
    font-size: 19px;
    line-height: 19px;
  }
  .form-knitted__type {
    padding-bottom: 25px;
    margin-top: 30px;
  }
  .form-knitted__legend {
    align-items: flex-start;
    margin-right: 57px;
    margin-top: 40px;
    font-size: 17px;
  }
  .form-knitted__type-list {
    padding-left: 75px;
    margin-top: 20px;
  }
  .form-knitted__type-item {
    padding: 13px 0 20px 80px;
    margin-top: 9px;
    margin-bottom: 23px;
  }
  .form-knitted__radio-label::before {
    width: 51px;
    height: 51px;
  }
  .form-knitted__radio-button:checked + .form-knitted__radio-label::after {
    top: 17px;
    left: 17px;
    width: 20px;
    height: 20px;
  }
  .form-knitted__color {
    margin-top: 25px;
    padding-bottom: 22px;
    background-color: #f1f1f1;
  }
  .form-knitted__color-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .form-knitted__color-item {
    box-sizing: border-box;
    margin-left: 65px;
    margin-bottom: 23px;
    padding: 15px 12px 20px 80px;
    width: 200px;
  }
  .form-knitted__checkbox-label::after {
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
  }
  .form-knitted__checkbox-button:checked + .form-knitted__checkbox-label::before {
    top: 16px;
    left: 12px;
    width: 33px;
    height: 22px;
    background-image: url(../img/tick-decktop.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .form-knitted__name {
    margin-top: 27px;
  }
  .form-knitted__name-list {
    margin-left: 70px;
    padding-top: 3px;
  }
  .form-knitted__name-item {
    display: flex;
    align-items: center;
    width: 500px;
  }
  .form-knitted__name-box {
    margin-left: 25px;
    padding: 15px 18px;
  }
  .form-knitted__phone {
    display: flex;
    margin-top: 75px;
    background-color: #f1f1f1;
  }
  .form-knitted__phone-label {
    margin-top: 21px;
    margin-left: 77px;
  }
  .form-knitted__phone-box {
    box-sizing: border-box;
    width: 500px;
    padding-right: 60px;
    padding-left: 15px;
    background-color: #f1f1f1;
  }
  .form-knitted__phone-image {
    top: 40px;
    right: 77px;
  }
  .form-knitted__email {
    margin-top: 0;
    background-color: #f1f1f1;
  }
  .form-knitted__email-label {
    margin-top: 20px;
    margin-left: 53px;
  }
  .form-knitted__email-box {
    box-sizing: border-box;
    width: 500px;
    padding-right: 60px;
    padding-left: 15px;
    background-color: #f1f1f1;
  }
  .form-knitted__email-image {
    top: 37px;
    right: 72px;
  }
  .form-knitted__additionally {
    margin-top: 75px;
  }
  .form-knitted__additionally-text {
    margin-left: 70px;
    width: 500px;
  }
  .form-knitted__end-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 50px;
  }
  .form-knitted__required-field-text {
    margin-top: 70px;
    font-size: 17px;
    line-height: 30px;
  }
  .form-knitted__button-submit {
    margin-top: 62px;
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .form-knitted__type {
    padding: 0 160px;
    padding-bottom: 25px;
  }
  .form-knitted__legend {
    margin-right: 0;
  }
  .form-knitted__type-list {
    margin-left: 63px;
    padding-left: 15px;
  }
  .form-knitted__color {
    padding: 0 160px;
    padding-bottom: 22px;
  }
  .form-knitted__name {
    padding: 0 160px;
  }
  .form-knitted__name-list {
    padding-top: 5px;
  }
  .form-knitted__name-item {
    width: 700px;
  }
  .form-knitted__phone {
    margin-top: 50px;
    padding: 0 160px;
    padding-top: 25px;
  }
  .form-knitted__phone-box {
    width: 700px;
  }
  .form-knitted__phone-image {
    top: 63px;
    right: 282px;
  }
  .form-knitted__email {
    padding: 0 160px;
    padding-bottom: 50px;
  }
  .form-knitted__email-box {
    width: 700px;
  }
  .form-knitted__email-image {
    right: 282px;
  }
  .form-knitted__additionally {
    margin-top: 25px;
    padding: 0 160px;
  }
  .form-knitted__additionally-text {
    box-sizing: border-box;
    margin-left: 75px;
    width: 700px;
  }
  .form-knitted__end-form {
    padding: 0 275px;
  }
}
.intro {
  padding-top: 72px;
  background-color: #fbfbfb;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -18px;
  background-size: 320px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro {
    background-image: url(../img/hero-mobile@2x.jpg);
  }
}
.intro__header {
  margin: 0;
  padding: 0 30px 110px 30px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
.intro__button {
  position: relative;
  display: block;
  padding: 25px 185px 30px 30px;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #3bb09d;
}
.intro__button--lighter {
  top: 10px;
  background-color: #63d1bb;
}
.intro__button--lighter::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 35px;
  width: 40px;
  height: 62px;
  background-image: url(../img/lamp.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}
.intro__button--lighter:hover,
.intro__button--lighter:focus {
  top: 5px;
}
.intro__button--darker {
  top: 5px;
  background-color: #56c3b2;
}
.intro__button--darker::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 25px;
  width: 60px;
  height: 60px;
  background-image: url(../img/cube.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}
.intro__button--darker:hover,
.intro__button--darker:focus {
  top: 0;
}
.intro__button:hover::after,
.intro__button:focus::after {
  opacity: 0.7;
}
.intro__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.intro__button:active::after {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .intro {
    padding: 0;
    margin-top: -45px;
    background-color: #f9f9f9;
    background-image: url(../img/hero-desktop.jpg@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 768px auto;
  }
  .intro__header {
    padding-top: 153px;
    margin-bottom: 46px;
    font-size: 43px;
    line-height: 50px;
  }
  .intro__buttons {
    display: flex;
    justify-content: center;
  }
  .intro__button {
    top: 10px;
    padding: 30px 150px 29px 36px;
    font-size: 20px;
    line-height: 30px;
  }
  .intro__button--lighter {
    padding-right: 183px;
  }
  .intro__button--darker {
    padding-right: 204px;
  }
  .intro__button--lighter:hover,
  .intro__button--lighter:focus,
  .intro__button--darker:hover,
  .intro__button--darker:focus {
    top: 5px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .intro {
    background-image: url(../img/hero-desktop.jpg@2x.jpg);
  }
}
@media (min-width: 1150px) {
  .intro {
    margin-top: -60px;
    background-size: 1250px auto;
  }
  .intro__header {
    margin-bottom: 294px;
    font-size: 53px;
    line-height: 57px;
  }
  .intro__button--lighter {
    padding-right: 375px;
  }
  .intro__button--darker {
    padding-right: 395px;
  }
}
.knitted-baskets {
  margin: 0 30px;
}
.knitted-baskets__header {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}
.knitted-baskets__caption {
  text-transform: uppercase;
  line-height: 30px;
  color: #63d1bb;
}
.knitted-baskets__info {
  margin-top: 15px;
}
.knitted-baskets__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}
.knitted-baskets__characteristics {
  margin-top: 20px;
  width: 260px;
  line-height: 20px;
  border-collapse: collapse;
}
.knitted-baskets__characteristics--col1,
.knitted-baskets__characteristics--col2 {
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid #ececec;
}
.knitted-baskets__characteristics--col1 {
  width: 93px;
}
.knitted-baskets__images {
  margin-top: 30px;
}
.knitted-baskets__order {
  margin-top: 13px;
}
.knitted-baskets__price {
  margin: 0;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  color: #444;
}
.knitted-baskets__button {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .knitted-baskets {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    margin-bottom: 50px;
  }
  .knitted-baskets__title {
    display: flex;
    margin-top: 55px;
  }
  .knitted-baskets__header {
    width: 565px;
    font-size: 43px;
    line-height: 50px;
  }
  .knitted-baskets__caption {
    margin-top: 10px;
    width: 75px;
    text-align: center;
    line-height: 17px;
  }
  .knitted-baskets__info {
    box-sizing: border-box;
    padding-right: 57%;
    margin: 0;
    margin-top: 50px;
  }
  .knitted-baskets__description {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
  .knitted-baskets__characteristics {
    margin-top: 35px;
  }
  .knitted-baskets__images {
    position: absolute;
    top: 160px;
    right: 0;
    margin: 0;
    width: 50%;
  }
  .knitted-baskets__image {
    margin: 0;
    width: 333px;
    height: 404px;
  }
  .knitted-baskets__order {
    margin-top: 55px;
  }
  .knitted-baskets__price {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .knitted-baskets__button {
    margin-top: 35px;
    width: 292px;
  }
}
@media (min-width: 1150px) {
  .knitted-baskets {
    margin: 0 100px;
    padding-left: 45px;
  }
  .knitted-baskets__title {
    flex-direction: row-reverse;
    margin-top: 134px;
  }
  .knitted-baskets__header {
    z-index: 1;
    font-size: 53px;
    line-height: 57px;
  }
  .knitted-baskets__caption {
    margin-top: 15px;
    margin-right: 48px;
  }
  .knitted-baskets__info {
    margin-left: 130px;
    padding-right: 59%;
  }
  .knitted-baskets__characteristics {
    margin-top: 45px;
  }
  .knitted-baskets__images {
    top: 80px;
  }
  .knitted-baskets__image {
    width: 525px;
    height: 636px;
  }
  .knitted-baskets__order {
    margin-top: 110px;
    margin-left: 130px;
  }
}
.knitted-order__text {
  margin: 0;
  margin-top: 22px;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  color: #444;
}
.knitted-order__form {
  padding: 0 30px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .knitted-order {
    position: relative;
    margin-bottom: 50px;
  }
  .knitted-order::before {
    content: "";
    position: absolute;
    top: -87px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  .knitted-order__text {
    padding: 0 50px;
    margin-top: 77px;
    font-size: 17px;
    line-height: 30px;
  }
  .knitted-order__form {
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .knitted-order::before {
    top: -140px;
    left: 0;
    background-size: cover;
  }
  .knitted-order__text {
    padding: 0 275px;
    margin-top: 125px;
  }
}
.main-nav--nojs .site-list__item--hidden {
  display: list-item;
}
.modal {
  position: fixed;
  top: 50%;
  left: calc(50% - 160px);
  z-index: 11;
  display: none;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 45px;
  width: 260px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.modal__header {
  margin: 0;
  padding: 0 50px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}
.modal__text {
  margin: 0;
  margin-top: 15px;
  font-size: 15px;
  line-height: 30px;
  color: #444;
}
.modal__form {
  margin-top: 20px;
}
.modal--on {
  display: block;
}
@media (min-width: 768px) {
  .modal {
    left: calc(50% - 283px);
    box-sizing: border-box;
    padding: 35px 105px;
    width: 566px;
  }
  .modal__header {
    padding: 0;
    font-size: 30px;
    line-height: 57px;
  }
  .modal__text {
    margin-top: 25px;
    font-size: 17px;
  }
}
.overlay--on {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.page-footer {
  margin-top: 35px;
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
}
.page-footer__logo {
  display: none;
}
.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.6;
}
.page-footer__logo:active {
  opacity: 0.3;
}
.page-footer__social {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%;
  list-style: none;
}
.page-footer__social-item:not(:last-child) {
  margin-right: 40px;
}
.page-footer__social-item:hover path,
.page-footer__social-item:focus path {
  fill: #46c1ae;
}
.page-footer__social-item:active path {
  opacity: 0.3;
}
.page-footer__copyright {
  margin: 0 auto;
  padding-top: 30px;
}
.page-footer__copyright:active {
  opacity: 0.3;
}
.page-footer__copyright-text {
  display: inline-block;
  padding-right: 30px;
  padding-left: 5px;
  vertical-align: top;
  font-size: 19px;
  line-height: 18px;
}
.page-footer__copyright-link:hover path,
.page-footer__copyright-link:focus path {
  fill: #46c1ae;
}
@media (max-width: 768px) {
  .page-footer__social::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 37px;
  }
  .page-footer__wrapper {
    margin: 0 auto;
  }
  .page-footer__logo {
    display: block;
  }
  .page-footer__social {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 78px;
    width: 303px;
  }
  .page-footer__copyright {
    margin: 0;
    padding: 0;
    margin-top: 13px;
  }
  .page-footer__copyright-text {
    padding-left: 0;
    padding-right: 25px;
  }
}
@media (min-width: 1150px) {
  .page-footer__logo {
    margin-left: 50px;
  }
  .page-footer__social {
    margin-left: 270px;
  }
  .page-footer__copyright {
    margin-left: 190px;
  }
}
.page-header {
  display: flex;
  flex-direction: column;
}
.product-of-the-week {
  position: relative;
  margin-top: 40px;
}
.product-of-the-week::after {
  content: "";
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  height: 30px;
  background-image: url(../img/line-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
@media (min-width: 768px) {
  .product-of-the-week {
    margin: 0;
  }
  .product-of-the-week::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .product-of-the-week::after {
    bottom: -80px;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week {
    padding-bottom: 100px;
  }
  .product-of-the-week::before {
    background-size: cover;
  }
  .product-of-the-week::after {
    bottom: 0;
  }
}
.production {
  padding-bottom: 23px;
}
.production__wrapper {
  margin: 0 30px;
  margin-top: 30px;
  padding-bottom: 32px;
  border: 1px solid #eeddee;
}
.production__header {
  position: relative;
  margin: 0;
  padding: 25px 0;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
}
.production__header::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 33px;
  width: 33px;
  height: 33px;
  background-image: url(../img/camera.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.production__video-wrapper {
  position: relative;
}
.production__video-wrapper::after {
  content: "";
  position: absolute;
  top: calc(50% - 77px/2);
  left: calc(50% - 101px/2);
  width: 101px;
  height: 77px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 101px 77px;
}
.production__video-wrapper:hover::after,
.production__video-wrapper:focus::after {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.production__video-wrapper:active::after {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  opacity: 0.3;
}
.production__description {
  padding: 0 30px;
  margin-top: 18px;
}
.production__text {
  margin: 0;
  padding-right: 10px;
  margin-left: 5px;
  font-size: 13px;
  line-height: 24px;
}
.production__button {
  margin-top: 25px;
  margin-left: 5px;
  width: 192px;
}
@media (min-width: 768px) {
  .production {
    padding-bottom: 65px;
  }
  .production__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    margin-top: 55px;
    padding-bottom: 45px;
  }
  .production__header {
    order: 2;
    padding: 30px 0;
    padding-left: 105px;
    font-size: 20px;
  }
  .production__header::before {
    top: 27px;
    left: 41px;
  }
  .production__video-wrapper {
    order: 1;
  }
  .production__image {
    width: 668px;
    height: 455px;
  }
  .production__description {
    order: 3;
    margin-top: 3px;
    padding: 0 35px;
  }
  .production__text {
    font-size: 15px;
    line-height: 30px;
  }
  .production__button {
    margin-top: 35px;
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .production {
    padding-bottom: 105px;
  }
  .production__wrapper {
    position: relative;
    margin: 0 100px;
    margin-top: 55px;
    padding-left: 682px;
    padding-bottom: 62px;
  }
  .production__header {
    padding: 95px 60px 0 80px;
  }
  .production__header::before {
    top: 41px;
    left: 79px;
  }
  .production__video-wrapper {
    position: static;
  }
  .production__video-wrapper::after {
    top: 190px;
    left: 290px;
  }
  .production__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
  }
  .production__description {
    padding-left: 80px;
    padding-right: 60px;
    margin-top: 33px;
  }
  .production__text {
    padding: 0;
    margin: 0;
  }
  .production__button {
    margin-left: 0;
    margin-top: 45px;
  }
}
.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 20px 24px 75px;
  border-bottom: 1px solid #ececec;
}
.site-list__item--logo {
  position: relative;
  width: 100%;
  padding: 23px 0 10px 0;
  text-align: center;
}
.site-list__item--receipts,
.site-list__item--sale,
.site-list__item--delivery,
.site-list__item--hidden {
  display: none;
}
.site-list__item-link {
  line-height: 24px;
  font-weight: 700;
  color: #000;
}
.site-list__item--search {
  padding-left: 68px;
}
.site-list__item--search,
.site-list__item--basket {
  position: relative;
}
.site-list__item-loupe {
  position: absolute;
  top: 18%;
  left: -37px;
}
.site-list__item-basket {
  position: absolute;
  top: 40%;
  left: 30px;
}
.site-list__item-link:hover,
.site-list__button-search:hover,
.site-list__item-link:focus,
.site-list__button-search:focus {
  opacity: 0.6;
}
.site-list__item-link:hover path,
.site-list__button-search:hover path,
.site-list__item-link:focus path,
.site-list__button-search:focus path {
  fill: #63d1bb;
}
.site-list__item-link:active,
.site-list__button-search:active {
  opacity: 0.3;
}
.site-list__item-link:active path,
.site-list__button-search:active path {
  fill: rgba(99, 209, 187, 0.3);
}
.site-list__button {
  position: absolute;
  top: 40%;
  right: 30px;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.site-list__button-hamburger {
  display: block;
  width: 20px;
  height: 2px;
  transition-duration: 0.5s;
  background-color: #000;
}
.site-list__button-hamburger.site-list__button-hamburger--close {
  background-color: transparent;
  transition-duration: 0.3s;
}
.site-list__button-hamburger.site-list__button-hamburger--close::before {
  top: 9px;
  left: -3px;
  width: 24px;
  transition-duration: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.site-list__button-hamburger.site-list__button-hamburger--close::after {
  bottom: 3px;
  left: -3px;
  width: 24px;
  transition-duration: 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.site-list__button-hamburger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition-duration: 0.3s;
}
.site-list__button-hamburger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition-duration: 0.3s;
}
.site-list__button-search {
  position: relative;
  padding: 0;
  width: 150px;
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.site-list__logo-image:hover,
.site-list__logo-image:focus {
  opacity: 0.6;
}
.site-list__logo-image:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .site-list__logo-image {
    width: 112px;
    height: 46px;
  }
  .site-list__button {
    display: none;
    padding-bottom: 8px;
  }
  .site-list__item {
    padding-left: 0;
  }
  .site-list__item--hidden {
    display: block;
  }
  .site-list__item--logo {
    width: 370px;
    padding-top: 23px;
    padding-left: 50px;
    text-align: left;
  }
  .site-list__item--search {
    padding: 0;
    width: 84px;
    height: 88px;
    border: 1px solid #ececec;
    border-top: none;
  }
  .site-list__item--catalog,
  .site-list__item--knitting,
  .site-list__item--delivery {
    width: 217px;
    padding: 0;
    padding-top: 15px;
    border-bottom: none;
  }
  .site-list__item--catalog {
    padding-left: 50px;
    order: 1;
  }
  .site-list__item--knitting {
    order: 2;
  }
  .site-list__item--delivery {
    display: flex;
    width: 282px;
    margin-left: auto;
    padding-right: 50px;
    font-size: 15px;
    line-height: 24px;
    order: 3;
  }
  .site-list__item--basket {
    padding: 29px 45px 29px 82px;
    width: 314px;
  }
  .site-list__item--receipts,
  .site-list__item--sale {
    display: none;
  }
  .site-list__button-search {
    font-size: 0;
  }
  .site-list__item-loupe {
    top: 115%;
    left: 33px;
  }
}
@media (min-width: 1150px) {
  .site-list {
    padding: 0 50px;
  }
  .site-list__logo-image {
    width: 149px;
    height: 72px;
  }
  .site-list__item--catalog,
  .site-list__item--knitting,
  .site-list__item--delivery {
    order: 0;
  }
  .site-list__item--logo,
  .site-list__item--search,
  .site-list__item--basket,
  .site-list__item--receipts,
  .site-list__item--sale,
  .site-list__item--delivery {
    order: 1;
  }
  .site-list__item--logo {
    width: 298px;
    padding: 7px 100px 0 48px;
  }
  .site-list__item--catalog,
  .site-list__item--knitting {
    border-bottom: 1px solid #ececec;
  }
  .site-list__item--catalog {
    width: 235px;
    padding: 29px 17px 29px 50px;
    border-right: 1px solid #ececec;
  }
  .site-list__item--knitting {
    padding: 29px 25px 29px 35px;
  }
  .site-list__item--receipts,
  .site-list__item--sale {
    display: flex;
    padding: 17px 0;
    border-bottom: none;
  }
  .site-list__item--receipts {
    width: 230px;
    padding-left: 50px;
  }
  .site-list__item--sale {
    width: 175px;
    padding-left: 35px;
  }
  .site-list__item--delivery {
    margin-left: auto;
    padding: 0;
    padding-right: 50px;
  }
}
.title {
  padding-top: 71px;
  padding-bottom: 77px;
  background-color: #f1f1f1;
}
.title__header {
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .title {
    margin-top: -45px;
    padding-top: 93px;
  }
  .title__header {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .title {
    margin-top: -60px;
    padding-bottom: 100px;
  }
  .title__header {
    font-size: 53px;
    line-height: 57px;
  }
}
